.infoBox {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: 1fr 2fr;
  gap: 2%;
  margin-top: 10px;

  align-items: center;
}

@media (max-width: 300px) {
  .infoBox {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  .infoBox input {
    max-width: 100%;
  }
}
